.card {
	border: 0ex;
	background-color: rgb(47, 54, 54);
}
.d-flex {
	height: auto;
	width: 100%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-body {
text-overflow: ellipsis;

}
.img-square-wrapper{
	width: 100%; 
   padding: 1em;
   object-fit: fill;
}

