/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Times New Roman', Times, serif;
    background-color: rgb(85, 103, 105); 
    color: azure;
    text-align-last: center;
    /*background-image: url("./assets/roses.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;*/
}

